<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and 
Ecosystem are summarized.

<b>Objectives:<b>
- List popular languages for Data Science
- Describe commonly used libraries
- Explore open source data science tools
- Create markdown tables
- Use JupyterLab features effectively

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib

| Data Science Tools       |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| VS Code                 |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

<h3>Author</h3>
Sulaiman ALAWAD